
<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
 <h1> <a class="navbar-brand-light" >GitHub User</a></h1> 
 

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/items']">Show UserList </a>
      </li>
      <li class="nav-item">
          <a class="nav-link" [routerLink]="['/Chart1']"> display </a>
        </li>
      </ul>
    
  </div>
</nav>




 <router-outlet></router-outlet>

